.container{
    width: 800px;
    margin: 0 auto;
}
.navbar{
    background-color: rgb(122, 236, 111);
}
.navbar ul{
    padding: 0;
}
.navbar ul li{
    display: inline-block;
}
.navbar ul li a{
    padding: 50px;
    color: white;
    text-decoration: none;
}
.navbar a:hover{
    color: blue;
}
.header{
    background-color: rgb(64, 64, 241);
    min-height: 50px;
}
.header .logo img{
    width: 200px;
}

.content{
    background-color: rgb(236, 233, 233);
    min-height: 500px;
    overflow: auto;
}
.thumbnail {
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
    width: 225px;
    margin: 10px;
    float: left;
}
.thumbnail img{
    width: 100%;
}
.footer{
    background-color: rgb(185, 196, 241);
    min-height: 50px;
    padding: 20px;
    text-align: center  ;
}